header{
    background-color: mediumvioletred;
    text-align: center;
    font-size: large;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    text-shadow: black 0px 0px 10px;
  }

table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: violet;
    color: black;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }

  footer{
    text-align: right;
  }

  .over-budget{
    color: red;
  }